body {
    font-family: "Noto Sans JP", sans-serif;
    background: #f7f7f7;
    margin: 0;
  }
  
  .wrapper {
    max-width: 700px;
    margin: 40px auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .desc {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
  }
  
  /* フォーム */
  .form-group {
    margin-bottom: 30px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  /* バッジ */
  .badge {
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 8px;
  }
  
  .required {
    background: #ff4d4f;
    color: white;
  }
  
  .optional {
    background: #90a4ae;
    color: white;
  }
  
  /* 名前横並び */
  .name-row {
    display: flex;
    gap: 10px;
  }
  
  .name-row div {
    flex: 1;
  }
  
  /* 入力 */
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  textarea {
    height: 150px;
  }
  
  /* ラジオ */
  .radio-box {
    display: flex;
    gap: 40px;
  }
  
  .radio-box label {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap; /* ← これが重要 */
  }
  
      .radio-box input {
        transform: scale(1.2); /* 少し大きく */
      }
  
  /* ボタン */
  button {
    width: 100%;
    background: #20a4b8;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
    
  }
  button {
    position: relative;
    z-index: 10;
  }
  
  iframe {
    pointer-events: none;
  }

  
